<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kidney Disease Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo-title">
            <img src="{{ url_for('static', filename='images/modern-tech-kidney-logo-concept-vector-29699161.jpg') }}" alt="Logo" class="logo">
            <h1 class="site-title">Kidney Disease Classifier</h1>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/predict">Predict</a>
            <a href="/about">About</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Welcome to Kidney Disease Classifier</h1>
            <p>Upload an image of the kidney scan to predict whether it's healthy or diseased.</p>
            <a href="/predict" class="btn">Go to Predict</a>
        </section>

        <!-- Deep Learning Info Section -->
        <section class="info-section">
            <h2>How the Classification Works</h2>
            <p>
                Our system uses a <strong>VGG16 Convolutional Neural Network (CNN)</strong> to analyze kidney scan images.
                The deep learning model extracts patterns from healthy and diseased kidneys and classifies them into categories like 
                <strong>Normal, Cyst, Stone, Tumor</strong>.
            </p>
            <p>
                The model was trained using a dataset of labeled kidney images, and its accuracy is validated using test data. 
                The predictions include probabilities for each class, allowing us to understand the confidence of the model.
            </p>
        </section>

        <!-- Prediction Graph Section -->
        <section class="graph-section">
            <h2>Sample Prediction Graph</h2>
            <p>Our Kidney Disease Classification model has been trained and validated using a large dataset</p>
            <img src="{{ url_for('static', filename='images/output.png') }}" alt="Prediction Graph" class="graph-image">
            <p>The graph above shows how the accuracy improved over training epochs.  
        		You can monitor training metrics in real-time using <strong>MLflow</strong>.</p>
        </section>

        <!-- Accuracy Section -->
        <section class="accuracy-section">
            <h2>Model Accuracy</h2>
            <p>
                Our trained CNN model achieves high accuracy on validation data, ensuring reliable predictions for kidney disease detection. 
                The combination of feature extraction and transfer learning allows us to classify images even with a limited dataset.
            </p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Kidney Disease Classifier. All Rights Reserved.</p>
    </footer>
</body>
</html>
